receivers:
  otlp:
    protocols:
      grpc: {}
      http: {}

exporters:
  jaeger:
    endpoint: "http://jaeger:14268/api/traces"
    insecure: true
  otlp_tempo:
    endpoint: "tempo:4317"
    insecure: true
  logging:
    logLevel: debug

processors:
  batch:

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger, otlp_tempo, logging]
