apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus_ds_01
    url: http://prometheus:9090
    isDefault: true
    access: proxy
    editable: true

  - name: Loki
    type: loki
    uid: loki_ds_01
    url: http://loki:3100
    access: proxy
    editable: true
